{% extends 'post/main.html' %}
{% block content %}
{% load thumbnail %}
    <h1>Liked-Events</h1>

    {% for event in new %}
    <div class="card mt-4">
        <div class="row">

            <div class="col-md-4 ">
                <div class="box-element event">
                    {% thumbnail event.image "300x300" crop="center" as im %}
                        <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
                    {% endthumbnail %}
                </div>
            </div>

            <div class="col-md-8">
                <div class="box-element event">
                    <div id="content-wrapper">

                        <div class="content">
                            <h3>{{event.title}}</h3>
                            <hr>
                            <h5>{{event.event_date}}-{{event.event_time}}</h5>
                            <h5>{{event.location}}</h5>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <h6>Rs.{{event.price}}/-</h6>
                        </div>

                        <div class="like-button">
                            <form action="{% url 'like-post' event.pk %}" method = "POST">
                                {% csrf_token %}
                                <button   class =" btn btn-link text-dark p-0 border-0 btn-outline-light mt-4 px-8 " type="submit",name="post_id",value="{{ event.id }}">
                                    <div class="heart update-likes"></div>
                                </button>
                            </form>
                        </div>

                    </div>   
                </div>
            </div>  
        </div>
    </div>
    
      
    {% endfor %}

{% endblock content %}